<!DOCTYPE html>
<html>
<head>
	<title>Current Task</title>
	<%= stylesheet_link_tag "tasks.css" if controller_name == "tasks" %>
</head>
<body>
	<h1 class="h1task"> <%= @task.name %> </h1>
	<div class="situation">
		<p>
			<%= @task.situation %>
		</p>
	</div>
	<% if @task.level == 0 %>
		<div>
			<h2> You have lost this campaign! </h2>
			<% Team.find(session[:team_id]).win == true %>
			<%= link_to "Done", user_path(@current_user) %>
		</div>
	<% elsif @task.level == 5 %>
		<div>
			<h2 class="you_won"> You have won this campaign! </h2> 
			<div class="link_to_user"><%= link_to "Done", user_path(@current_user) %></div>
		</div>
	<% else %>	
		<div class="task_form">
			<%= form_for @task, :style => 'float:left;' do |f| %>
				<%= f.label @choice1.upcase %>
				<%= f.radio_button :result, @choice1 %>
			
				<%= f.label @choice2.upcase %>
				<%= f.radio_button :result, @choice2 %>

				<%= f.submit "Next" %>
			<% end %>
		</div>
	<% end %>
</body>
</html>




