<!DOCTYPE html>
<html>
<head>
	<title>Current Task</title>
</head>
<body>
	<h1> <%= @task.name %> </h1>
	<div>
		<p>
			<%= @task.situation %>
		</p>
	</div>
	<div>
		<%= form_for @task do |f| %>
			<%= f.select :result, options_for_select([@choice1, @choice2]), :class => 'genForm_dropBox' %>
			<%= f.submit "Next"%>
		<% end %>
	</div>
</body>
</html>