<!DOCTYPE html>
<html>
<head>
	<title> <%= @user.name %> </title>
</head>
<body>
    <h1> <%= @user.name %>: </h1>
        <ul>
            <% @user.teams do |team| %>
                <li> <%= link_to team.character.name, character_path(character) %> </li>
            <% end %>
        </ul>
    <%= button_to "Start a campaign", new_team_path, method: :get%>
    <%= button_to "Delete this user", user_path(@user), method: :delete %>
</body>
</html>





