<!DOCTYPE html>
<html>
<head>
	<title> <%= @user.name %> </title>
</head>
<body>
    <h2>My Characters</h2>
    <div>
    <% @characters.each do | character | %>
        <ul>
            <ol>
                <li>Name: <%= character.name %></li>
                <li>Intellect: <%= character.intellect %></li>
                <li>Speed: <%= character.speed %></li>
                <li>Attack: <%= character.attack %></li>
            </ol>  
        </ul>
        <%= button_to "Edit this character", character_path(character) %>
        <%= button_to "Delete this character", character_path(character), method: :delete %>
    <% end %>
    </div>

    <% if @characters.length == 0 %>
    <%= button_to "Create New Character", new_character_path %>
    <%= button_to "Delete this user", user_path(@user), method: :delete %>
</body>
</html>





