<!DOCTYPE html>
<html>
<head>
	<title> <%= @user.name %> </title>
</head>
<body>
    <h1> <%= @user.name %>: </h1>
    <div class="message">
            <h2>You have: <%=@user.teams.count%> teams.</h2>
    </div>

    <div class="container_teams">
        
            <% @user.teams do |team| %>
                <ul>
                    <li> <%= link_to team.character.name, character_path(character) %> </li>
                </ul>
                <% end %>
        
        <div class="button_campaign"><%= button_to "Start a campaign", new_team_path, method: :get%></div>
    </div>
    
</body>
</html>





